<div class="input-group">
  <input type="text" placeholder="Query here..." ng-model="inputValue"
          ng-change="changeQuery()" ng-trim="false" auto-focus
          class="form-control">
  <span class="input-group-btn" ng-show="inputValue.length">
    <button class="btn btn-default" type="button"
            ng-click="search({query: inputValue})">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <span class="sr-only">Search</span>
    </button>
  </span>
</div>
